@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* =======================Null======================= */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: transparent;
}
a {
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #a3a3ac;
}
::-webkit-scrollbar-thumb {
    background-color: #223c50;
}
[class*="__container"] {
	max-width: 1084px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
	overflow: hidden;
}
/* =======================/Null======================= */
/* =======================General Styles======================= */
body {
    font-family: 'Roboto', sans-serif;
	color: #000000;
}
/* =======================/General Styles======================= */

/* =======================/Header======================= */

/* =======================Menu Burger======================= */
.body--lock {
	overflow: hidden;
}
/* Гамбургер иконка */
.menu-btn {
	display: none;
	width: 30px;
	height: 30px;
	position: relative;
	overflow: hidden;
	z-index: 2;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span {
	background-color: #fff;
}
.menu-btn.active span:nth-of-type(1) {
	display: none;
}
.menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню, которое будет появляться */
.menu {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(28 23 23 / 97%);
	left: -100%;
	transition: left 0.5s; 
	overflow: auto;
	font-size: 30px;
}

.menu__nav {

}

.menu__nav-item {

}

.menu__nav-item:not(:last-child) {
	margin-bottom: 50px;

}

.menu__nav-list {
	padding: 200px 0 0 20px;
	color: #f0e5e5;
}

.menu.active {
	left: 0;
    top: 0;
}
/* =======================/Menu Burger======================= */
.header {
	min-width: 100vw;
	min-height: 56px;
	margin: 0 auto;
	color: #1C1B1B;
	display: flex;
	justify-content: flex-end;
	background-color: #fff;
	position: fixed;
	z-index: 200;
}

.header__nav {
	max-width: 1084px;
	min-height: 56px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__nav-inner {
	display: flex;
	justify-content: start;
}
.header__nav-link-list {
	max-width: 423px;
	min-height: inherit;
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
}
.header__nav-link-item {
	
}
.header__nav-link-item:not(:last-child) {
	margin-right: 28px;
}
.header__nav-link-item-shop {
}
.header__nav-link {
	transition: all 0.5s ease;
}
.header__nav-link:hover {
	text-decoration: underline;
}
.header__nav-link-item-collections {
}
.header__nav-link-item-guide {
}
.header__nav-link-item-stories {
}
.header__thalby-logo {
}
.header__thalby-logo-link {
}
.header__thalby-logo-pic {
}
.header__shop-menu {
	display: flex;
}
.header__shop-menu-list {
	display: flex;
	align-items: center;
}
.header__shop-menu-item {
	display: inline-block;
}
.header__shop-menu-item-instagram {
}
.header__shop-menu-link {
	transition: all 0.5s ease;
}
.header__shop-menu-link:hover {
	text-decoration: underline;
}
.header__shop-menu-link-pic {
}
.pic-instagram {
}
.header__shop-menu-item-search {
	margin: 0 7px 0 15px;
}
.pic-search {
}
.header__shop-menu-item-basket {
}
.pic-basket {
}

/* =======================Main======================= */

.main {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

/* =======================Section Hero======================= */
.section-hero {
	width: 100%;
	min-height: 554px;
	padding: 56px 0 24px 0;
	margin: 0 auto;
	background: #F0EFEB;
}
.section-hero__inner {
	max-width: 1084px;
	min-height: 378px;
	display: flex;
	align-items: center;

}
.section-hero__left-part {
	padding: 80px 0 90px 0;
}
.section-hero__title {
	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
}
.section-hero__subtitle {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	padding: 42px 0 26px 0;
}
.section-hero__btn {
}
.btn {
	max-width: 129px;
	max-height: 36px;
	padding: 7px 23px 9px 23px;
	background-color: #000000;
	color: #fff;
	border-radius: 100px;
	text-align: center;
	transition: background-color 0.4s ease;
}
.btn:hover {
	background-color: #223c50;
}

.section-hero__right-part {
	max-width: 599px;
	max-height: 521px;
	width: 100%;
	margin-right: -95px;
}
.section-hero__img {
	max-width: 599px;
	max-height: 521px;
}



/* =======================/Section Hero======================= */

/* =======================Section Our======================= */

.section-our {
	padding: 60px 0 240px 0;
}
.section-our__container {
}
.section-our__inner {
	text-align: center;
}
.section-our__title {
}
.title {
	max-width: 700px;
	margin: 0 auto;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
}

.section-our__title-1 {
}
.section-our__subtitle {
	margin: 0 auto;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
}
.section-our__subtitle-1 {
	max-width: 632px;
	min-height: 69px;
	padding: 27px 0 47px 0;
}
.section-our__subtitle-2 {
}
.section-our__title-2 {
	margin: 87px auto 51px auto;
}
.section-our__columns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.section-our__column {
	height: 100%;
	margin: 0 auto;
	padding: 0 12px;

}
.section-our__column-inner-text {

}
.section-our__column-1 {
}


.section-our__image-link {
}
.section-our__image {
	max-width: 309px;
	max-height: 422px;
	width: 100%;
	height: 100%;
}
.section-our__column-title {
	max-width: 164px;
	min-height: 60px;
	margin: 19px auto 0 auto;
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
}
.section-our__price {
	padding: 17px 0 10px 0;
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
}
.gen-btn {
	text-decoration: underline;
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
}
.section-our__column-2 {
}
.section-our__column-3 {
}
/* =======================/Section Our======================= */
/* =======================Section People======================= */

.section-people {
	padding: 76px 0 50px 0;
	background: rgba(204, 204, 204, 0.3);
	min-width: 100%;
	min-height: 652px;
}
.section-people__container {
}
.section-people__inner {
	display: flex;
	align-items: center;
}
.section-people__image-link {
}
.image-link {
}
.section-people__image {
}
.image-general {
	max-width: 385px;
	max-height: 525px;
	width: 100%;
	height: 100%;
}
.section-people__inner-text {
	margin-left: 50px;

}
.text-inner {
	max-width: 532px;
	min-height: 100%;
}
.section-people__title {
}
.title {
}
.section-people__subtitle {
	padding: 31px 0 40px 0;
}
.general-subtitle {
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
}
.section-people__btn {
}
.gen-btn {
}
/* =======================/Section People======================= */
/* =======================Section Culture======================= */

.section-culture {
	min-width: 100%;
	min-height: 652px;
	padding: 76px 0 50px 0;
	background: rgba(204, 204, 204, 0.6);
}
.section-culture__container {
}
.section-culture__inner {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.section-culture__image-link {
}
.image-link {
	max-width: 385px;
    max-height: 525px;
    width: 100%;
    height: 100%;
}
.section-culture__image {
}
.image-general {
}
.section-culture__inner-text {
	margin-right: 50px;
	text-align: end;
}
.section-culture__title {
	margin-top: 31px;

}
.title {
}
.section-culture__subtitle {
	max-width: 513px;
	padding: 31px 0 31px 0;
}
.general-subtitle {
}
.section-culture__btn {
}
.gen-btn {
}

/* =======================/Section Culture======================= */
/* =======================Section Power======================= */

.section-power {
	min-width: 100%;
    min-height: 652px;
    padding: 76px 0 50px 0;
	background: rgba(204, 204, 204, 0.3);
}
.section-power__container {
}
.section-power__inner {
	display: flex;
	align-items: center;
}
.section-power__image-link {
}
.image-link {
}
.section-power__image {
}
.image-general {
}
.section-power__inner-text {
	max-width: 530px;
	min-height: 100%;
	margin-left: 50px;
	padding: 31px 0 31px 0;
}
.text-inner {
}
.section-power__title {
}
.title {
}
.section-power__subtitle {
	padding: 31px 0 39px 0;
}
.general-subtitle {
}
.section-power__btn {
}
.gen-btn {
}
/* =======================/Section Power======================= */
/* =======================Section Guides======================= */

.section-guides {
	width: 100%;
	min-height: 480px;
	padding: 189px 0 162px 0;
	background-color: #fff;
}
.section-guides__container {
}
.section-guides__inner {
}
.section-guides__title {
	margin: 0 auto 69px auto;
	max-width: 450px;
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
}
.section-guides__columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	row-gap: 110px;
}
.section-guides__column-1 {
}
.colum-guides {
	text-align: center;
}
.section-guides__column-img {
}
.section-guides__column-title {
	max-width: 216px;
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	margin: 26px auto 0 auto;
}
.section-guides__bottom-title {
	padding: 163px 0 290px 0;
	text-align: center;
}
.section-guides__column-2 {
}
.section-guides__column-3 {
}
.section-guides__column-4 {
}
.section-guides__column-5 {
}
.section-guides__column-6 {
}


/* =======================/Section Guides======================= */
/* =======================Section Voices======================= */
.section-voices__container {
	max-width: 1084px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
	overflow: visible;
}
.section-voices {
	background: #F0F0F0;
	width: 100%;
	min-height: 480px;
}
.section-vices__container {
	
}
.section-voices__inner {
	padding: 0 0 52px 0;
	width: 100%;
	min-height: 480px;
}
.section-voices__title {
}
.section-voices__columns {
	margin-top: -188px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.section-voices__column-1 {
}
.section-voices__column {
	width: 288px;
	margin: 0 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.section-voices-column-link {
}
.section-voices-column-img {
	max-width: 288px;
	max-height: 351px;
	width: 100%;
	height: 100%;
}
.section-voices__column-text-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.section-voices-colum-title-1,
.section-voices-colum-title-2,
.section-voices-colum-title-3 {
	padding-top: 35px;
}

.voices-title {
	max-width: 285px;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 0.6px;
}
.section-voices__subtitle {
	max-width: 245px;
	margin: 0 auto;
	padding: 34px 0 44px 0;
}
.section-voices__voices-btn {
}
.gen-btn {
}
.section-voices__column-2 {
}
.section-voices__column-3 {
}
/* =======================Section Keep======================= */

.section-keep {

	min-height: 429px;

}
.section-keep__container {
}
.section-keep__inner {
	min-height: 429px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.section-keep__title {
	
}
.section-keep__subtitle {
	max-width: 496px;
	margin: 9px auto 25px auto;
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
}
.form-name {
}
.input-name {
	margin-right: 56px;
}
.input-name, 
.input-lastname, 
.input-email {
	border: 1px solid #000000;
	height: 39px;
	padding-left: 8px;
}

.input-name,
.input-lastname {
	width: 153px;
}
.input-email {
	max-width: 366px;
    width: 100%;
	margin: 18px auto 18px  auto;
}
.form-email {
}
.section-keep__btn {

}

/* =======================/Section Keep======================= */

/* =======================/Main======================= */
/* =======================Footer======================= */

.footer {
	width: 100%;
	min-height: 291px;
	background-color: #020202;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer__container {

}
.footer__inner {
	display: flex;
	justify-content: space-between;
}
.footer__part-left {
	max-width: 50%;
}
.footer__thalby-logo {
	margin-bottom: 37px;
}
.footer__social-links {
}
.footer__social-link {
}
.footer__social-link:not(:last-child) {
	margin-right: 22px;
}
.footer__social-link-fb {
}
.footer__social-img-fb {
}
.footer__social-img {
}
.footer__social-link-insta {
}
.footer__social-img-insta {
}
.footer__social-link-tw {
}
.footer__social-img-tw {
}
.footer__part-right {
	width: 50%;
	display: flex;
	justify-content: end;
}
.footer__about-links {
	width: 215px;
	min-height: 180px;
	padding-right: 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}
.footer__about-link-item {
}
.footer__about-link-item:not(:last-child) {
	margin-bottom: 12px;
}
.footer__about-link-item-title {
	margin-bottom: 36px;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
}
.footer__about-link {
	
}
.footer__contact-links {
	width: 160px;
	min-height: 180px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}
.footer__contact-link {
}
.footer__contact-link-title {
	margin-bottom: 36px;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
}
.footer__contact-link-item {
}
.footer__contact-link-item:not(:last-child) {
	margin-bottom: 12px;
}
.footer__license-text {
	text-align: center;
	padding-top: 20px;
}


/* =======================/Footer======================= */
@media (max-width: 1048px) {
	.section-our__column:not(:last-child) {
		margin-bottom: 51px;
	}
}

@media (max-width: 1023.98px) {
	.section-our__columns {
	}
	.section-our__column {
		align-items: center;
	}
}
@media (max-width: 1007px) {
	.section-people__inner {
		flex-direction: column;
	}
	.section-people__title {
		margin-top: 31px;
	}
	.section-people__inner-text {
		margin: 0 auto;
		text-align: center;
	}
	.section-culture__inner {
		flex-direction: column;
	}
	.section-culture__inner-text {
		margin: 0 auto;
		text-align: center;
	}
	.section-power__inner {
		flex-direction: column;
	}
	.section-power__inner-text {
		text-align: center;
		margin: 0 auto;
		padding-bottom: 0;
	}
}

@media (max-width: 993px) {
	.section-voices__columns {
		justify-content: space-around;
	}
	.section-voices__column:not(:last-child) {
		margin-bottom: 52px;
	}
}
@media (max-width: 867.98px) {
	.section-hero__inner {
		flex-direction: column;
	}
	.section-hero__left-part {
		padding: 60px 0;
	}
	.section-hero__img {
		margin-right: 0;
		width: 100%;
	}
	.section-hero__right-part {
		margin: 0 auto;
	}
	.section-hero__subtitle {
		width: 70%;
	}
	.section-guides__columns {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
}
@media (max-width: 767.98px) {
	.header__nav-inner {
		display: none;
	}
	.menu-btn {
		display: inline-block;
	}
	.section-guides__columns {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
}
@media (max-width: 612px) {
	.footer__inner {
		flex-direction: column;
		align-items: center;
	}
	.footer__part-left {
		margin: 30px auto 30px auto;
	}
	.footer__part-right {
		width: 100%;
		justify-content: space-around;
	}
	.footer__license-text {
		padding: 20px 0;
	}
}
@media (max-width: 425px) {
	.menu {
		text-align: center;
	}
	.menu__nav-list {
		padding-left: 0;
	}
	.section-hero__left-part {
		padding-bottom: 24px;
	}
	.section-our {
		padding: 40px 0 40px 0;
	}
	.section-our__title-2 {
		margin: 40px auto 40px auto;
	}
	.section-our__subtitle-1 {
		padding: 40px 0;
	}
	.section-our__column:not(:last-child) {
		margin-bottom: 40px;
	}
	.section-people {
		padding: 40px 0 40px 0;
	}
	.section-culture {
		padding: 40px 0 40px 0;
	}
	.section-power {
		padding: 40px 0 40px 0;
	}
	.section-guides {
		padding: 40px 0 40px 0;
	}
	.section-guides__bottom-title {
		padding: 122px 0 290px 0;
	}
	.input-name, .input-lastname {
		width: 100%;
		max-width: 366px;
		margin: 0 auto;
	}
	.input-name {
		margin-bottom: 18px;
	}
}
